/* Mobile */

.main-content {
  padding: 75px 30px 30px 30px;
}

#main-sidebar {
  top: 44px;
}

.vertical-middle {
  vertical-align: middle;
}

.main.container {
  margin-left: 4em !important;
  margin-top: 6em !important;
  margin-right: 3em !important;
  width: 70% !important;
}

#images-container img{
  cursor: hand;
}