{% extends "admin/base.html" %}
{% from "admin/macros/forms.html" import render_text_field %}
{% from "admin/macros/forms.html" import render_select_field %}
{% from "admin/macros/forms.html" import render_image_field %}
{% from "admin/macros/forms.html" import render_toggle_field %}
{% from "admin/macros/forms.html" import render_default_image_field %}
{% from "admin/macros/misc.html" import render_default_images_modal %}
{% set active_page = "permanent_streams_categories" %}
{% set main_page = "permanent_streams" %}
{% block content %}
    <div class="column">
        <div class="row">
            <h1 class="ui header">Edit Category(#{{ category.id }})</h1>
        </div>
    </div>
    <div class="column">
        <form method="POST"
              enctype="multipart/form-data"
              action="{{ url_for('admin-streams.categories_edit', category_id=category.id) }}"
              class="ui form">
            <div class="ui stackable two column grid">
                {{ form.csrf_token }}
                <div class="column">
                    {{ render_text_field(form.name) }}
                    {{ render_text_field(form.priority) }}
                    <button class="ui green icon labeled button" type="submit">
                        <i class="save icon"></i>Save Category
                    </button>
                </div>
                <div class="column">
                    {{ render_image_field(form.custom_img) }}
                    {{ render_default_image_field(form.default_img, default_img_selected=category.default_img) }}
                    {{ render_toggle_field(form.use_default_img) }}
                </div>
            </div>
        </form>
    </div>
    {{ render_default_images_modal(default_images_folders) }}
{% endblock %}
{% block extra_javascripts %}
    <script type="text/javascript">
        $('.ui.dropdown').dropdown();
        loadDefaultImagesActions('{{ url_for('admin._get_images_path') }}');
    </script>
{% endblock %}
