{% extends "admin/base.html" %}
{% set active_page = "permanent_streams_categories" %}
{% set main_page = "permanent_streams" %}
{% block content %}
    <div class="ui one column grid">
        <div class="column">
            <div class="ui breadcrumb">
                <a class="section" href="{{ url_for("admin.index") }}">Home</a>
                <i class="right chevron icon divider"></i>
                Permanent Streams Categories
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <h1 class="ui header">
                <i class="tags icon"></i>
                <div class="content">Permanent Streams Categories</div>
            </h1>
        </div>
    </div>
    <div class="column">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Priority</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            {{ category.img }}
                            {% if category.use_default_img %}
                                <img class="ui small image" src="{{ category.default_img }}" />
                            {% else %}
                                <img class="ui small image" src="{{ category.custom_img }}" />
                            {% endif %}
                        </td>
                        <td>{{ category.priority }}</td>
                        <td>
                            <a href="{{ url_for('admin-streams.categories_edit', category_id=category.id) }}"
                               class="ui mini icon button">
                                <i class="icon edit"></i>
                            </a>
                            <button class="ui mini red basic icon button delete-category-button-{{ category.id }}">
                                <i class="icon delete"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">
                        <a href="{{ url_for("admin-streams.categories_add") }}"
                           class="ui right floated small green icon button">
                            <i class="add icon"></i> Add new Category
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    {# MODALS #}
    {#  Audiences  #}
    {% for category in categories %}
        <div class="ui modal delete-category-{{ category.id }}">
            <i class="close icon"></i>
            <div class="header">Delete category "{{ category.id }}"</div>
            <div class="content">
                <div class="description">
                    <form id="delete-category-{{ category.id }}-form"
                          action="{{ url_for('admin-streams.categories_delete', category_id=category.id) }}"
                          method="POST">
                        <input type="hidden"
                               name="delete_id"
                               id="delete_id"
                               value="{{ category.id }}">
                        Are you sure you want to delete the selected category?
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui deny button">Cancel</div>
                <button type="submit"
                        form="delete-category-{{ category.id }}-form"
                        class="ui positive red button">Delete category</button>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block extra_javascripts %}
    <script type="text/javascript">
        {% for category in categories %}
            $(".delete-category-button-{{ category.id }}").click(function () {
                $(".delete-category-{{ category.id }}").modal('show');
            });
        {% endfor %}
    </script>
{% endblock %}
