{% extends "admin/base.html" %}
{% from "admin/macros/forms.html" import render_image_field %}
{% set active_page = "permanent_streams" %}
{% set main_page = "admin" %}
{% block content %}
    <div class="ui one column grid">
        <div class="column">
            <div class="ui breadcrumb">
                <a class="section" href="{{ url_for("admin.index") }}">Home</a>
                <i class="right chevron icon divider"></i>
                Permanent Streams
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <h1 class="ui header">
                <i class="video camera icon"></i>
                <div class="content">Permanent Streams</div>
            </h1>
        </div>
    </div>
    <div class="column">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Audience</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for permanent_stream in permanent_streams %}
                    <tr>
                        <td>{{ permanent_stream.id }}</td>
                        <td>{{ permanent_stream.title }}</td>
                        <td>{{ permanent_stream.audience.name }}</td>
                        <td>{{ permanent_stream.category.name }}</td>
                        <td>
                            <a href="{{ url_for('admin-streams.permanent_streams_edit', permanent_stream_id=permanent_stream.id) }}"
                               class="ui mini icon button">
                                <i class="icon edit"></i>
                            </a>
                            <button class="ui red basic mini icon button delete-permanent_stream-button-{{ permanent_stream.id }}">
                                <i class="icon delete"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">
                        <a href="{{ url_for("admin-streams.permanent_streams_add") }}"
                           class="ui right floated small green icon button">
                            <i class="add icon"></i> Add new Permanent Stream
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    {# MODALS #}
    {#  Permanent Streams  #}
    {% for permanent_stream in permanent_streams %}
        <div class="ui modal delete-permanent_stream-{{ permanent_stream.id }}">
            <i class="close icon"></i>
            <div class="header">Delete Permanent Stream "{{ permanent_stream.id }}"</div>
            <div class="content">
                <div class="description">
                    <form id="delete-permanent_stream-{{ permanent_stream.id }}-form"
                          action="{{ url_for('admin-streams.permanent_streams_delete', permanent_stream_id=permanent_stream.id) }}"
                          method="POST">
                        <input type="hidden"
                               name="delete_id"
                               id="delete_id"
                               value="{{ permanent_stream.id }}">
                        Are you sure you want to delete the selected permanent stream?
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui deny button">Cancel</div>
                <button type="submit"
                        form="delete-permanent_stream-{{ permanent_stream.id }}-form"
                        class="ui positive red button">Delete permanent stream</button>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block extra_javascripts %}
    <script type="text/javascript">
        {% for permanent_stream in permanent_streams %}
            $(".delete-permanent_stream-button-{{ permanent_stream.id }}").click(function () {
                $(".delete-permanent_stream-{{ permanent_stream.id }}").modal('show');
            });
        {% endfor %}
    </script>
{% endblock %}
