{% if current_user.is_admin or IS_LOCAL_INSTALLATION %}
    {% set navigation_bar = [
            (url_for('admin.index'), 'home', 'home', 'Home', []),
            ("/", 'user', 'user', 'Users Frontend', []),
            (url_for('admin-events.index'), 'events', 'toggle right', 'Events', [
                (url_for('admin-events.events_live'), 'events_live', 'toggle right', 'Live'),
                (url_for('admin-events.events_upcoming'), 'events_upcoming', 'calendar', 'Upcoming'),
                (url_for('admin-events.events_recent'), 'events_recent', 'film', 'CDS Records'),
                (url_for('admin-events.events_archived'), 'events_archived', 'archive', 'Archived')
            ]),
            (url_for('admin-streams.permanent_streams_home'), 'permanent_streams', 'video camera', 'Streams', [
                (url_for('admin-streams.permanent_streams_home'), 'permanent_streams', 'video camera', 'Permanent Streams'),
                (url_for('admin-streams.categories'), 'permanent_streams_categories', 'tags', 'Categories')
            ]),
            (url_for('admin-authorization.audiences'), 'events_audiences', 'lock', 'Audiences and Authorization', []),
            (url_for('admin-api.api_keys'), 'api', 'lock', 'Api Keys', []),
        ] -%}
{% endif %}
{% if current_user.is_authenticated or IS_LOCAL_INSTALLATION %}
    {% set autehntication_bar = [
            ('#', 'profile', 'user', 'Logged in as: ' + (current_user.username if current_user.is_authenticated else 'Dummy user')),
            (url_for('login_view.logout'), 'logout', 'sign out', 'Logout')
        ] -%}
{% else %}
    {% set autehntication_bar = [
            (url_for('cern_openid.login'), 'login', 'sign in', 'Login')
        ] -%}
{% endif %}
{% set active_page = active_page|default('home') -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}Webcast Admin Panel{% endblock %}
        </title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <link rel="shortcut icon"
              href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='css/libs/semantic.min.css') }}" />
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='css/libs/icon.min.css') }}" />
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='css/libs/glide.core.min.css') }}" />
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='css/libs/glide.theme.min.css') }}" />
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='css/admin/main.css') }}" />
        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static', filename='css/media-queries.css') }}" />
        {% block css %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                  rel="stylesheet">
        {% endblock %}
        {% block script %}{% endblock %}
    </head>
    <body class="pushable">
        <div class="mobile ui inverted labeled icon left inline vertical sidebar menu">
            {% for href, id, caption, title, childs in navigation_bar %}
                <a class="{% if id == main_page %}active{% endif %} item"
                   href="{{ href|e }}"><i class="{{ caption|e }} icon"></i>{{ title }}</a>
            {% endfor %}
        </div>
        <div class="pusher">
            <div class="ui top fixed teal inverted menu">
                <span class="large monitor hidden">
                    <a class="item" href="#" id="mobile-hidder">
                        <i class="sidebar icon"></i></a>
                </span>
                <div class="item">
                    <a href="{{ url_for("admin.index") }}">
                        {{ 'Webcast Admin Panel' }}
                        {% if DEBUG %}
                            <small>This is a dev installation.
                                <strong>Authenticated</strong> {{ current_user.is_authenticated }},
                                <strong>Admin</strong>: {{ current_user.is_admin }},
                                <strong>Local</strong>: {{ IS_LOCAL_INSTALLATION }}, <strong>Debug</strong>: {{ DEBUG }}</small>
                        {% endif %}
                    </a>
                </div>
                <div class="right menu">
                    {% for href, id, caption, title in autehntication_bar %}
                        <a class="{% if id == main_page %}active{% endif %} item"
                           href="{{ href|e }}"><i class="{{ caption|e }} icon"></i> {{ title }}</a>
                    {% endfor %}
                </div>
            </div>
            {#  MAIN LEFT MENU  #}
            <div class="widescreen monitor large monitor only">
                <div id="main-sidebar"
                     class="ui gray left vertical visible inverted sidebar menu">
                    {% for href, id, caption, title, childs in navigation_bar %}
                        {% if childs %}
                            <div class="item">
                                <i class="{{ caption }} icon"></i>
                                <div class="header">{{ title }}</div>
                                {% if childs %}
                                    <div class="menu">
                                        {#                                <a href="{{ href|e }}"#}
                                        {#                                   class="{% if id == active_page %}active{% endif %} item"><i#}
                                        {#                                        class="{{ caption }} icon"></i>{{ title }}</a>#}
                                        {% for href, id, caption, title in childs %}
                                            <a href="{{ href|e }}"
                                               class="{% if id == active_page %}active{% endif %} item">
                                                <i class="{{ caption }} icon"></i>
                                                {{ title }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <a href="{{ href|e }}"
                               class="{% if id == active_page %}active{% endif %} item"><i class="{{ caption }} icon"></i>{{ title }}</a>
                        {% endif %}
                    {% endfor %}
                    <p class="ui center white text item">
                        <small>2017-{{ CURRENT_YEAR }} © CERN Webcast Team</small>
                    </p>
                </div>
            </div>
            <div class="ui bottom attached">
                <div class="ui main-content">
                    {%- with messages = get_flashed_messages(with_categories=true) -%}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="ui one column grid">
                                    <div class="column">
                                        <div class="ui {{ category }} message">
                                            <i class="close icon"></i>
                                            <div class="header">
                                                {% if category == "success" %}Success!{% endif %}
                                                {% if category == "warning" %}Warning!{% endif %}
                                                {% if category == "negative" %}Error!{% endif %}
                                            </div>
                                            <p>{{ message }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {%- endwith %}
                    <div class="ui one column grid">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/libs/jquery-2.2.4.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/libs/jquery.browser.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/libs/jquery.address-1.5.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/libs/glide.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/libs/readmore.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/libs/semantic.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/admin/main.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/admin/events/events-add-edit.js') }}"></script>
        {% block extra_javascripts %}
            <script type="text/javascript">
        $('.message .close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
            </script>
        {% endblock %}
    </body>
</html>
