body {
  margin: 0;
  background-color: #f9f9f9;
}

/* a{
  color: #0033A0 !important;
} */
a {
  color: #004c93;
}

.ui.button.paddedButton {
  margin: 20px 0;
}

.ui.dropdown.multiple {
  min-height: 60px;
}

.description.paddedDescription {
  margin-top: 10px;
}

.ui.header.smallMargin {
  margin: 5px;
  display: block;
}

.ui.inverted.menu.paddedTopMenu {
  margin-top: 40px;
}

.ui.container .ui.inverted.menu.yellowMenu {
  background-color: #fbbd08;
  padding: 0;
  margin: 0;
}
.ui.container .ui.inverted.menu.yellowMenu .item {
  color: #000 !important;
}

.ui.container .ui.inverted.menu.blueMenu {
  background-color: #2185d0;
  padding: 0;
  margin: 0;
}

.ui.container .ui.inverted.menu.blueMenu.paddedApp {
  margin-top: 40px;
}

.ui.inverted.segment.App {
  margin-top: 40px;
}

.paddedApp {
  margin-top: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.large.inverted.mainMenu.menu {
  border: 0;
}

.ui.primary.button.cernPrimary,
.ui.primary.buttons .button.cernPrimary {
  background-color: #004c93;
}

.ui.primary.button.cernPrimary:hover,
.ui.primary.buttons .button.cernPrimary:hover {
  background-color: #0033a0;
}

.ui .item .content .extra.accExtra {
  color: #575757;
}

.live-header-link {
  cursor: pointer;
  /* text-decoration: underline; */
  margin: 0 3em 1em 3em;
}

.ui.list > .item > i.imaged {
  display: inline-block;
}

.ui.list > .item > i.imaged + .content {
  display: inline-block;
}

img.ui.image.indicoImageLink {
  display: inline-block;
}

.ui.horizontal.list > .item > .icon.imaged + .content {
  display: inline-block;
  width: auto;
}

.readMoreParagraph {
  margin-top: 1em;
}

.ui.primary.button.cernPrimary,
.ui.primary.buttons .button.cernPrimary {
  color: #fff !important;
}

.ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  color: #fff !important;
}

.ui.container.oldWebBannerContainer {
  width: 100% !important;
  margin: 0 !important;
}

.ui.container .ui.inverted.segment .webcast-abstract a {
  color: #09c;
}

.live-background {
  position: relative;
  width: 100%; /* Adjust the width as needed */
}

.live-background::before {
  content: "";
  background-image: url("/public/images-client/lhc-blur.jpg"); /* Replace with your desired image */
  background-size: cover;
  filter: blur(5px); /* Adjust the blur intensity as desired */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.live-not-blurred {
  position: relative;
  z-index: 1;
  /* text-align: center; */
  padding: 50px; /* Adjust the padding as needed */
  color: white; /* Adjust the text color as needed */
  margin-bottom: 2em;
}

header .not-blurred a {
  color: #3982cb;
}

header .not-blurred a:hover {
  color: #6794c2;
}
