{% macro render_dev_toolbar(current_user, is_local_installation, debug) %}
    {% if debug %}
        <div id="dev-toolbar">
            <p>
                This is a dev installation. Authenticated: {{ current_user.is_authenticated }}
                Admin: {{ current_user.is_admin }} Local: {{ is_local_installation }}
            </p>
        </div>
        <!-- /#cern-toolbar -->
    {% endif %}
{% endmacro %}
{% macro render_cern_toolbar(current_user, is_local_installation) %}
    <div id="cern-toolbar">
        <h1>
            <a class="toc item mobile only" href="#">
                <i class="sidebar icon"></i>
            </a>
            <a href="http://cern.ch" title="CERN">CERN <span>Accelerating science</span></a>
        </h1>
        <a class="issue-report"
           style="padding-top: 13px;"
           href="https://cern.service-now.com/service-portal/report-ticket.do?name=incident&amp;fe=webcast&amp;s=webcast"
           target="_blank"
           title="issue-report">
            Report issue
        </a>
        <ul class="cern-signedin">
            {% if current_user.is_authenticated %}
                <li class="cern-accountlinks">
                    <span>Signed in as: <a class="account"
    href="http://cern.ch/account"
    title="Signed in as {{ current_user.first_name }} {{ current_user.last_name }} ({{ current_user.username }})">{{ current_user.first_name }} {{ current_user.last_name }} ({{ current_user.username }})</a> </span>
                    <a class="cern-signout"
                       href="{{ url_for("login_view.logout") }}"
                       title="Sign out of your account">Sign
                    out</a>
                </li>
            {% else %}
                <li class="cern-accountlinks">
                    <a class="cern-account"
                       href="{{ url_for('cern_openid.login') }}"
                       title="Sign in to your CERN account">Sign in</a>
                </li>
            {% endif %}
            <li>
                <a class="cern-directory"
                   href="http://cern.ch/directory"
                   title="Search CERN resources and browse the directory">Directory</a>
            </li>
            <li class="">
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <a href="{{ url_for("admin.index") }}" title="Administration">Administration</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <!-- /#cern-toolbar -->
{% endmacro %}
