{% macro render_text_field(field, placeholder='') %}
    <div class="field {% if field.errors %}error{% endif %}">
        {{ field.label }}
        {{ field(placeholder=placeholder) }}
        {% if field.errors %}
            <div class="ui basic red pointing prompt label transition visible">
                {% for error in field.errors %}{{ error }}{% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}
{% macro render_select_field(field, extra_class='') %}
    <div class="field {% if field.errors %}error{% endif %}">
        {{ field.label }}
        {{ field(class_="ui dropdown " + extra_class) }}
        {% if field.errors %}
            <div class="ui basic red pointing prompt label transition visible">
                <ul>
                    {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}
{% macro render_multi_select_field(field, selected_values) %}
    <div class="field {% if field.errors %}error{% endif %}">
        {{ field.label }}
        {{ field(class_="ui search dropdown", **{'multiple':' '}) }}
        {% if field.errors %}
            <div class="ui basic red pointing prompt label transition visible">
                <ul>
                    {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}
{% macro render_search_select_field(field) %}
    <div class="field {% if field.errors %}error{% endif %}">
        {{ field.label }}
        {{ field(class_="ui search selection dropdown") }}
        {% if field.errors %}
            <div class="ui basic red pointing prompt label transition visible">
                <ul>
                    {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}
{% macro render_toggle_field(field, disabled=False) %}
    <div class="field {% if field.errors %}error{% endif %}">
        <div class="ui toggle checkbox">
            {{ field(disabled=disabled) }}
            {{ field.label }}
        </div>
        {% if field.errors %}
            <div class="ui basic red pointing prompt label transition visible">
                <ul>
                    {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}
{% macro render_image_field(field, default_img_selected=None) %}
    <div class="field {% if field.errors %}error{% endif %}">
        <div class="ui items">
            <div class="item">
                <div class="image">
                    {% if  not default_img_selected %}
                        {% set default_img_selected = "http://placehold.it/150x150" %}
                    {% endif %}
                    <img class="ui small rounded image" src={{ default_img_selected }}>
                </div>
                <div class="content">
                    {{ field.label }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="ui basic red pointing prompt label transition visible">
                            <ul>
                                {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% macro render_default_image_field(field, default_img_selected=None) %}
    <div class="field {% if field.errors %}error{% endif %}">
        <div class="ui items">
            <div class="item">
                <div class="image">
                    {% if  not default_img_selected %}
                        {% set default_img_selected = "http://placehold.it/150x150" %}
                    {% endif %}
                    <img id="default-image-placeholder"
                         class="ui small rounded image"
                         src="{{ default_img_selected }}">
                </div>
                <div class="content">
                    {{ field.label }}
                    {{ field }}
                    <button type="button" id="display-default-images-button" class="ui button">
                        Select a default
                        image
                    </button>
                    {% if field.errors %}
                        <div class="ui basic red pointing prompt label transition visible">
                            <ul>
                                {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% macro render_event_add_form(form, form_action=None) %}
    <form id="add_event_form"
          method="POST"
          enctype="multipart/form-data"
          action="{{ form_action }}"
          class="ui form">
        <div class="ui top attached tabular menu main-menu">
            <a class="active item" data-tab="first">Event Details</a>
            {#            <div class="right menu">#}
            {#                    <a class="item" onclick="addNewTab('camera_slides', null, null);"><i#}
            {#                            class="add icon"></i> New Live Stream</a>#}
            {#                </div>#}
        </div>
        <input type="hidden"
               name="number-of-streams"
               id="number-of-streams"
               value="0">
        <div class="ui bottom attached active tab segment" data-tab="first">
            <div class="ui stackable two column grid">
                {{ form.csrf_token }}
                <div class="column">
                    <h4 class="ui horizontal divider header">Indico</h4>
                    {{ render_text_field(form.indico_id) }}
                    {{ render_text_field(form.indico_category_id) }}
                    <h4 class="ui horizontal divider header">Details</h4>
                    {{ render_text_field(form.title) }}
                    {{ render_text_field(form.speakers) }}
                    {{ render_text_field(form.abstract) }}
                    {{ render_text_field(form.room) }}
                    {{ render_text_field(form.link) }}
                    {{ render_text_field(form.link_label) }}
                    {{ render_text_field(form.display_message) }}
                    {{ render_text_field(form.extra_html) }}
                </div>
                <div class="column">
                    <h4 class="ui horizontal divider header">Authorization</h4>
                    {{ render_select_field(form.audience) }}
                    <div class="three wide fields">
                        {{ render_toggle_field(form.is_sharable) }}
                        {{ render_toggle_field(form.is_embeddable) }}
                        {{ render_toggle_field(form.is_visible) }}
                    </div>
                    {{ render_image_field(form.custom_img) }}
                    {{ render_default_image_field(form.default_img) }}
                    {{ render_toggle_field(form.use_default_img) }}
                    <h4 class="ui horizontal divider header">Date</h4>
                    {{ render_select_field(form.timezone) }}
                    <div class="two wide fields">{{ render_text_field(form.start_date, placeholder='YYYY-MM-DD hh:mm:ss') }}</div>
                    <div class="two wide fields">{{ render_text_field(form.end_date, placeholder='YYYY-MM-DD hh:mm:ss') }}</div>
                </div>
            </div>
        </div>
    </form>
{% endmacro %}
{% macro render_cds_record_form(form, form_action=None) %}
    <form id="cds_record_form"
          method="POST"
          action="{{ form_action }}"
          class="ui form">
        <div class="ui bottom attached segment">
            <div class="ui stackable two column grid">
                {{ form.csrf_token }}
                <div class="column">
                    {{ render_text_field(form.title) }}
                    {{ render_text_field(form.cds_record_id) }}
                    {{ render_text_field(form.speakers) }}
                </div>
                <div class="column">
                    {{ render_text_field(form.indico_link) }}
                    {{ render_text_field(form.published_date) }}
                </div>
            </div>
            <button class="ui green button" type="submit">Save</button>
        </div>
    </form>
{% endmacro %}
