<html lang="en">
    <head>
        {% block stylesheets %}
            <link href="//fonts.googleapis.com/css?family=Open+Sans"
                  rel="stylesheet"
                  type="text/css">
            <link rel="stylesheet"
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            {# <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet"> #}
            {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> #}
            {# <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}"
       rel="stylesheet"> #}
        {% endblock %}
        <title>CERN Webcast Website - Admin</title>
    </head>
    <body>
        <div class="container loginbox">
            <div>
                <h3>Welcome to the Webcast Website Admin</h3>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}<div class="alert alert-danger" role="alert">{{ message }}</div>{% endfor %}
                {% endif %}
            {% endwith %}
            <div>
                <a href="{{ url_for('cern_openid.login') }}"
                   class="login_button btn btn-primary"><i class="sign in icon"></i> Sign in</a>
            </div>
        </div>
    </body>
</html>
