{% extends "admin/base.html" %}
{% from "admin/macros/forms.html" import render_text_field %}
{% from "admin/macros/forms.html" import render_select_field %}
{% from "admin/macros/forms.html" import render_image_field %}
{% from "admin/macros/forms.html" import render_toggle_field %}
{% from "admin/macros/forms.html" import render_default_image_field %}
{% from "admin/macros/misc.html" import render_default_images_modal %}
{% from "admin/macros/forms.html" import render_cds_record_form %}
{% set active_page = "cds_records_edit" %}
{% set main_page = "events" %}
{% block content %}
    <div class="ui one column grid">
        <div class="column">
            <div class="ui breadcrumb">
                <a class="section" href="{{ url_for("admin.index") }}">Home</a>
                <i class="right chevron icon divider"></i>
                <a class="section" href="{{ url_for("admin-events.events_recent") }}">CDS Records</a>
                <i class="right chevron icon divider"></i>
                Edit CDS Record (#{{ cds_record.id }})
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <h1 class="ui header">Edit CDS Record(#{{ cds_record.id }})</h1>
        </div>
    </div>
    <div class="column">
        {{ render_cds_record_form(form=form, form_action=url_for('admin-events.cds_records_edit', cds_record_id=cds_record.id) ) }}
    </div>
{% endblock %}
{% block extra_javascripts %}{% endblock %}
