{% extends "admin/base.html" %}
{% from "admin/macros/forms.html" import render_text_field %}
{% from "admin/macros/forms.html" import render_select_field %}
{% from "admin/macros/forms.html" import render_image_field %}
{% from "admin/macros/forms.html" import render_toggle_field %}
{% from "admin/macros/forms.html" import render_multi_select_field %}
{% from "admin/macros/forms.html" import render_event_add_form %}
{% from "admin/macros/misc.html" import render_default_images_modal %}
{% from "admin/macros/_live_stream_tabs/_camera_slides_tab.html" import render_camera_slides_tab %}
{% set active_page = "events_upcoming" %}
{% set main_page = "events" %}
{% block content %}
    <div class="ui one column grid">
        <div class="column">
            <div class="ui breadcrumb">
                <a class="section" href="{{ url_for("admin.index") }}">Home</a>
                <i class="right chevron icon divider"></i>
                <a class="section" href="{{ url_for("admin-events.events_upcoming") }}">Upcoming Events</a>
                <i class="right chevron icon divider"></i>
                Add
            </div>
        </div>
    </div>
    <div class="ui stackable one column grid">
        <div class="column">
            <div class="row">
                <button class="ui right floated green labeled icon button"
                        form="add_event_form"
                        type="submit">
                    <i class="save icon"></i> Save
                </button>
                <h1 class="ui header">
                    <i class="calendar icon"></i>
                    <div class="content">Add new {{ event_type }} Event</div>
                </h1>
            </div>
        </div>
    </div>
    <div class="column">{{ render_event_add_form(form, form_action=url_for('admin-events.upcoming_event_add') ) }}</div>
    {{ render_default_images_modal(default_images_folders) }}
{% endblock %}
{% block extra_javascripts %}
    {{ render_camera_slides_tab() }}
    <script type="text/javascript">
        loadDefaultImagesActions('{{ url_for('admin._get_images_path') }}');
        var wowzaOriginUrl = '{{ wowza_origin_url }}';
        loadSetDefaultStreamAttributes(wowzaOriginUrl);
    </script>
{% endblock %}
