{% extends "admin/base.html" %}
{% set active_page = "events_recent" %}
{% set main_page = "events" %}
{% block content %}
    <div class="ui small modal">
        <div class="header"></div>
        <div class="content">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Fetching from CDS...</div>
            </div>
        </div>
    </div>
    <div class="ui one column grid">
        <div class="column">
            <div class="ui breadcrumb">
                <a class="section" href="{{ url_for("admin.index") }}">Home</a>
                <i class="right chevron icon divider"></i>
                CDS Records
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <form action="{{ url_for("admin-events.fetch_from_cds") }}" method="post">
                {{ fetch_from_cds_form.csrf_token }}
                <button onclick="$('.small.modal').modal('show');"
                        class="ui right floated button"
                        type="submit">
                    <i class="download icon"></i> Fetch from CDS
                </button>
            </form>
            <h1 class="ui header">
                <i class="film icon"></i>
                <span class="content">CDS Records</span>
            </h1>
        </div>
    </div>
    <div class="column">
        <table class="ui striped fixed very compact table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CDS Record ID</th>
                    <th>Event</th>
                    <th>Title</th>
                    <th>Speakers</th>
                    <th>Publish date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for cds_record in cds_records %}
                    <tr>
                        <td>{{ cds_record.id }}</td>
                        <td>{{ cds_record.cds_record_id }}</td>
                        <td>
                            (Indico: {{ cds_record.indico_id }})
                            <br />
                            {% for cds_event in cds_record.events %}{{ cds_event.event_id }}{% endfor %}
                        </td>
                        <td>{{ cds_record.title }}</td>
                        <td>{{ cds_record.speakers }}</td>
                        {#                    <td>{{ event.room }}</td>#}
                        <td>{{ cds_record.published_date }} at {{ cds_record.published_date }}</td>
                        <td>
                            <a href="{{ url_for('admin-events.cds_records_edit', cds_record_id=cds_record.id) }}"
                               class="ui mini icon button">
                                <i class="icon edit"></i>
                            </a>
                            <button class="ui red basic mini icon button delete-cds-record-button-{{ cds_record.id }} ">
                                <i class="icon delete"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {# MODALS #}
    {#  Events  #}
    {% for cds_record in cds_records %}
        <div class="ui modal delete-cds-record-{{ cds_record.id }}">
            <i class="close icon"></i>
            <div class="header">Delete CDS Record "#{{ cds_record.id }}"</div>
            <div class="content">
                <div class="description">
                    <form id="delete-cds-record-{{ cds_record.id }}-form"
                          action="{{ url_for('admin-events.cds_record_delete', cds_record_id=cds_record.id) }}"
                          method="POST">
                        <input type="hidden"
                               name="delete_id"
                               id="delete_id"
                               value="{{ cds_record.id }}">
                        <input type="hidden"
                               value="{{ url_for("admin-events.events_recent") }}"
                               name="next">
                        Are you sure you want to delete the selected CDS Record?
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui deny button">Cancel</div>
                <button type="submit"
                        form="delete-cds-record-{{ cds_record.id }}-form"
                        class="ui positive red button">Delete CDS Record</button>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
{% block extra_javascripts %}
    <script type="text/javascript">
        {% for cds_record in cds_records %}
            $(".delete-cds-record-button-{{ cds_record.id }}").click(function () {
                $(".delete-cds-record-{{ cds_record.id }}").modal('show');
            });
        {% endfor %}
    </script>
{% endblock extra_javascripts %}
